.site-footer {
  padding: 2rem 0;

  .contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  svg {
    width: 14rem;
  }
}

.news-updates {
  position: sticky;
  top: 0;
  display: block;
  text-align: right;

  @media (max-width: 480px) {
    button {
      font-size: 1rem;
      padding: 0.2rem 1rem;
      width: 100%;
    }
  }
}

.icon {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 2rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
}

.fb {
  background-image: url(svg/fb.svg);
  background-color: #3b5998;
  background-size: 45%;
}

.tw {
  background-image: url(svg/tw.svg);
  background-color: #55acee;
  background-size: 62%;
}

.mail {
  background-image: url(svg/mail.svg);
  background-color: #1ada41;
  background-size: 50%;
}

.insta {
  background-image: url(svg/insta.svg);
  background-color: #c13584;
  background-size: 66%;
}

.copyright {
  background-color: $blue;
  color: $grey;
  text-align: center;
  padding: 2rem 0;

  .textwidget {
    display: inline;
  }
}

@media (max-width: 588px) {
  .spread span {
    display: block;
  }
}

@media (max-width: 375px) {
  .site-footer .contain {
    display: block;
    text-align: center;
  }
}