input {
  appearance: none;
  display: block;
  background-color: $grey;
  width: 100%;
  padding: 0.7rem 0.7rem;
  font-size: 1.25rem;
  border: 1px solid $grey;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.3s, background-color 0.3s;

  &:focus {
    background-color: lighten($grey, 5%);
    border-color: rgba($gold, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(black, 0.075), 0 0 8px rgba($gold, 0.6);
  }
}

input[type=submit] {
  font-family: $header-font;
  font-size: 1.2rem;
  font-weight: 900;
  color: $gold;
  letter-spacing: 0.3ex;
  text-transform: uppercase;
  border: none;
  width: auto;
  padding: 0.7rem 1.7rem;
  background-color: $red;
  transition: background-color 0.4s;

  &:hover {
    background-color: darken(red, 15%);
  }
}
.wpcf7-form-control-wrap {
  position: relative;
}
.wpcf7-not-valid-tip {
  font-size: 1rem;
  line-height: 1;
  position: absolute;
  white-space: nowrap;
  bottom: -1.3rem;
}
.wpcf7-not-valid {
  border-color: $red;

  &:focus {
    border-color: $red;
    box-shadow: inset 0 1px 1px rgba(black, 0.075), 0 0 8px rgba($red, 0.6);
  }
}

.screen-reader-response,
.wpcf7-validation-errors {
  visibility: hidden;
  height: 1px;
}


// Form dummy

// form.wpcf7-form {
//   position: relative;
  
//   &::after {
//     content: 'COMING SOON';
//     position: absolute;
//     top: -2%;
//     left: -2%;
//     width: 104%;
//     height: 104%;
//     background-color: rgba(239, 239, 239, 0.76);
//     text-align: center;
//     line-height: 341px;
//     font-size: 3rem;
//     color: #012639;
//     font-weight: 900;
//   }
// }