/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
hr {
	background-image: url(svg/feather.svg);
	display: block;
	width: 8rem;
	height: 2rem;
	border: none;
	background-size: cover;
	margin: $vert-pad auto;
	position: relative;

	&::before,
	&::after {
		content: '';
		display: block;
		position:	absolute;
		width: calc(((62rem - 8rem) / 2) - 5rem); // .contain max-width - feather.svg width / 2, - fudge
		height: 2px;
		right: 9rem;
		top: calc(50% - 1px);
		background-color: $blue;
		border-radius: 1rem;
	}

	&::after {
		right: auto;
		left: 9rem;
	}
}

ul,
ol {
	margin: 0 0 1em 1em;
	padding: 0;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

ol li {
	font-size: 1.25rem;
	margin-left: 1.4rem;

	+ li {
		margin-top: 1rem;
	}	
}

ul li {
	font-size: 1.25rem;
	text-indent: -1.4rem;
	margin-left: 1.4rem;

	+ li {
		margin-top: 1rem;
	}
	
	&::before {
		content: '';
		width: 0.4rem;
		height: 0.4rem;
		border-radius: 1rem;
		background-color: $red;
		display: inline-block;
		vertical-align: 0.6ex;
		margin-right: 1rem;
	}
}

li > ul,
li > ol {
	margin: 1rem 0 0 1.5rem;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}


* {
	box-sizing: border-box;
}

body {
	font-size: 100%; // Match the defualt font size
	line-height: 1.35;
  min-width: 320px;
	position: relative;
	font-family: $body-font;
	letter-spacing: 0.1ex;
	color: $blue;
	fill: currentColor;
  background-color: white;
	overflow-x: hidden;

	&.no-scroll {
		overflow: hidden;
	}
}

.default-font {
	font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
	font-weight: 100;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $header-font;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.3ex;
}

h1 {
	font-size: 2.5rem;
	color: $blue;
	text-align: center;
	margin: 0.7rem 0;
}

h2 {
	font-size: 2.1rem;
	margin: 1rem 0 1.8rem;
	color: $blue;
}

h3 {
	font-size: 1.8rem;
	margin: 1rem 0;
	text-transform: none;
	letter-spacing: 0;
}

h4 {
	font-size: 1.3rem;
	margin: 0.2rem 0;

}

h5 {
	font-size: 1rem;
	margin: 0.1rem 0;

}

h6 {
	font-size: 1rem;
	margin: 0.1rem 0;

}

a, a:visited {
	color: lighten($blue-light, 16%);
	text-decoration: none;
  transition: color 0.25s;

	&:hover {
		color: $gold;
	}
}

p {
	font-size: 1.25rem;

	&:empty {
		margin: 0;
	}
}

button {
	font-family: $header-font;
	font-size: 1.2rem;
	font-weight: 900;
	color: $gold;
	background-color: $red;
	padding: 0.7rem 1.7rem;
	letter-spacing: 0.3ex;
	text-transform: uppercase;
	border: none;
	appearance: none;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transition: color 0.25s 0s;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: darken($red, 15%);
		z-index: -1;
		opacity: 0;
		transform: scale(0);
		transition: transform 0.35s ease-in, opacity 0.15s;
	}

	&.simple::after {
		content: none;
	}

	&:focus, &:hover {
		transition-delay: 0.1s;

		&::after {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.close {
	width: 2rem;
	padding: 0.1rem 0.3rem;
	box-sizing: content-box;
	position: absolute;
	top: -2.7rem;
	left: 0;

	svg {
		width: 2rem;
		fill: currentColor;
	}
}

blockquote {
	font-family: $header-font;
	font-style: italic;
	padding: 1.7rem 1rem;
	margin: 2rem 2.4em 2rem;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;

	p {
		margin: 0;
		font-size: 1.75rem;
	}
}

::selection {
	background-color: $gold;
	color: white;
}

::cue {
  background-color: transparent;
  color: white;
	line-height: 1.2;
  font-family: $body-font;
	text-shadow: black 2px 2px 10px;
}

/*--------------------------------------------------------------
Global Classes
--------------------------------------------------------------*/

.contain {
  max-width: 62rem;
  padding: 0 2.7rem;
  margin: 0 auto;
	//border: 1px solid red;
  
  &.solo {
	  max-width: 48rem;
  }
}
.center-text {
	text-align: center;
}

.top-section {
	padding-top: $vert-pad + 4rem;
}

.site-content {
	min-height: calc(100vh - 283px);
}

@media (max-width: 60rem) {
  .contain {
    padding: 0 2.7%;
  }
	h1 {
		font-size: calc(2.2rem + 2 * (100vw - 50rem) / 60);
	}

	h2 {
		font-size: calc(2.2rem + 1.9 * (100vw - 50rem) / 60);
	}

	hr::before,
	hr::after, {
		width: calc(((88vw - 8rem) / 2));
	}
}
