.site-header {
  position: fixed;
  width: 100%;
  background-color: rgba(white, 0.93);
  z-index: 10;
  top: 0;
  border-bottom: 1px solid $grey;
  transition: transform 0.22s ease-in-out;
  will-change: transform;

  &.slideUp {
    transform: translateY(-100%);
  }

  .contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@supports (backdrop-filter: blur(2px)) {
  .site-header {
    background-color: rgba(white, 0.77);
    backdrop-filter: blur(24px) contrast(120%);
    border-bottom: 1px solid rgba($grey, 0.5);
  }
}

.site-branding {
  height: 2rem;
  
  svg {
    width: 8rem;
    fill: $blue;
    transition: fill 0.3s;
  }

  &:hover svg {
    fill: $gold
  }
}

nav {
  text-align: right;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
  }

  li {
    display: inline-block;
    font-size: 1rem;
    font-family: $header-font;
    letter-spacing: 0.3ex;
    text-indent: 0;
    margin: 0;

    &::before {
      content: none;
    }

    + li {
      position: relative;
      padding-left: calc(0.5rem + 1px);
      margin: 0 0 0 0.5rem;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        background-color: rgba($blue,0.5);
        width: 2px;
      }
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi) {
  nav li + li::before {
    width: 1px;
  }
}

.main-navigation {
  color: $blue;

  a, a:visited {
    color: $blue;

    &:hover {
      color: $gold;
    }
  }
}

@media (max-width: 750px) {

}

@media (max-width: 570px) {
  .site-header .contain {
    display: block;  
  }

  .site-branding, nav {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .menu li:nth-child(4){
    margin: 0;
    padding: 0;
    display: block;
    margin-top: 0.5rem;
    
    &::before {
      content: none;
    }
  }
}