.quote {
  background-color: #f5f2d3;
  background-image: url(img/parchment.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 27px 13px rgba(93, 49, 5, 0.4);
  padding: 5rem 0 $vert-pad;

  .contain {
    display: flex;
    justify-content: space-between;
  }

  img {
    height: 15rem;
  }
  svg {
    width: 70%;
  }

  blockquote {
    padding: 0 3rem;
    max-width: 50rem;
    margin: 0 auto;
    border: none;
    background-color: transparent;

    p {
      margin: 0;
    }
    p,footer,cite {
      font-size: 1.8rem;
    }

    footer {
      text-align: right;
    }
  }
}


.entry-title {
  color: $blue;
	margin: 2rem 0 1rem;
}

.entry-content {
  padding: 1rem 4rem 0;
}

.resource {
	display: inline-block;
	
	img {
		display: inline-block;
		max-width: 200px;
		margin-right: 1rem;
		border: 1px solid $gold;
		transition: border-color 0.3s;
	}
	
	&:hover img {
		border-color: $gold;
	}
}

.drawer {
  cursor: pointer;
  margin-bottom: 0;

  &::before {
    content: url(svg/plus.svg);
    width: 1.5rem;
    margin-left: -2rem;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 0.6;
    transition: transform 0.45s;
  }
  &.open {

    &::before {
      transform: rotate(135deg);
    }
  
    + .box {
      max-height: 30rem;
    }
  }
}

.box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  will-change: max-height;
}

@media (max-width: 35rem) {
  .entry-content {
    padding: 1rem 1.5rem 0;
  }
}

@media (max-width: 960px) {
  .drawer::before {
    margin-left: -0.5rem;
  }
}

@media (max-width: 750px) {
  .quote {
    padding-top: ($vert-pad + 3rem);

    .contain {
      display: block;
      text-align: center;
    }

    img {
      height: 30vw;
    }
    svg {
      width: 100%;
    }
  }
}