.hero {
  padding: $vert-pad 0;
  background-color: $blue;

  .contain {
    display: flex;
    align-items: center;
  }
}

.intro {
  width: 34%;
  text-align: center;
  color: $gold;
  padding-right: 1.3rem;

  svg {
    fill: $gold;
  }

  p {
    max-width: 90%;
    margin: auto;
    padding: 1rem 0;
  }
}
.video-wrapper-contain {
  width: 66%;
  padding-left: 1.3rem;
}

.content {
  fill: $blue-light;
  padding: $vert-pad 0;
}

.icon-split {
  display: flex;
	align-items: center;

  .paragraph {
    width: 80%;

		p {
			margin-bottom: 0;
		}
  } 

	h2 {
		margin-top: 0;
		font-size: 1.8rem;
	}

  > div {
    width: 60%;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  &.gavel svg {
    width: 20%;
    padding-right: 3rem;
  }
  &.court-house {
		margin-top: 3rem;

		svg {
			padding-left: 6rem;
			width: 40%;
		}
	}
}

.impact {
	background-color: $blue;
	color: $gold;
	padding: $vert-pad 0;

  a, a:visited {
    // color: $gold;
  }
  blockquote {
    border-color: lighten($blue, 12%);
  }
}

.cta {
  padding: $vert-pad 0;
}

@media (max-width: 750px) {
  .hero .contain {
    display: block;
  }

  .intro {
    width: 100%;
    max-width: 30rem;
    margin: auto;
    padding-right: 0;
  }
  .video-wrapper-contain {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 670px) {
  .icon-split.gavel svg {
    width: 25%;
    padding-right: 1.5rem;
  }

  .icon-split.court-house svg {
    padding-left: 3rem;
    width: 35%;
  }
}

@media (max-width: 484px) {
  .icon-split {
    position: relative;
    
    svg {
      position: absolute;
      z-index: -1;
      bottom: 0;
    }
  }

  .icon-split .paragraph,
  .icon-split > div {
    width: 100%;
    background-color: rgba(white, 0.86);
  }

  .icon-split.gavel svg {
    width: 50%;
    padding: 0;
    left: 0.5rem;
  }

  .icon-split.court-house svg {
    padding: 0;
    width: 50%;
    right: 0.5rem;
  }

}