.hentry {
	margin-bottom: 6rem;
}

.entry-header {
	a {
		text-decoration: none;
	}
	
	h2 {
		transition: color 0.3s;
	}
	&:hover h2 {
		color: $gold;
	}
}

.result-title {
	margin: 1rem 0;
}

.entry-meta {
	color: darken($grey, 25%);
	font-size: 0.9rem;
}

.nav-previous {
	text-align: left;
}

.contain.news {
	margin-top: 4rem;
}