@font-face {
  font-family: "Goudy Old Style";
  font-weight: 400;
  font-style: normal;
  src:  url('fonts/Goudy Old Style Regular.woff2') format('woff2'),
        url('fonts/Goudy Old Style Regular.woff') format('woff');
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  src: local('Hind Light'), local('Hind-Light'), url(https://fonts.gstatic.com/s/hind/v7/j0nw79-SK78CoHOhg6MGGwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'),
        url(https://fonts.gstatic.com/s/hind/v7/R5nyNcvoz7n0iBHxjY_LyQ.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

// Fonts
$body-font: "Hind", system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
$header-font: "Goudy Old Style", serif;

// Colors
$blue: #012639;
$gold: #F9E0A4;
$red: #FF4338;

$blue-light: #007298;
$grey: #E7E8E9;

// size
$vert-pad: 4rem;
