.video-gallary {
	padding: $vert-pad 0;
}

.video-block-group {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -0.7rem;
}

.video-wrapper {
	background-color: black;
  position: relative;
  width: 100%;
  height: 0;
  // padding-bottom: 56.25%;
  padding-bottom: 100%; // force to square for now

  iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // &.square {
  //   width: 65%;
  //   height: 65%;
  //   padding-bottom: 65%;
  // }

  &.inline {
    padding-bottom: 56.25%;
  }

	&.inline::after {
		// content: url(svg/play-blue.svg);
		position: absolute;
		left: 50%;
		top: 50%;
		width: 5rem;
		height: 5rem;
		opacity: 0.9;
	  cursor: pointer;
		transition: opacity 0.4s;
		transform: translate(-50%, -50%);
	}

	&.inline.playing::after {
		opacity: 0;
	}
}

.ytvid {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-block {
	width: calc(25% - 1.4rem);
	// height: 0;
	// padding-bottom: calc(25% - 1.4rem); thanks firefox: https://stackoverflow.com/questions/36783190/why-doesnt-percentage-padding-work-on-flex-items-in-firefox
  height: 16vw;
  max-height: 200px;
	margin: 0.7rem;
	background-color: $grey;
	box-shadow: 0 0 16px rgba(darken($grey, 20%), 0.2);
	position: relative;
  cursor: pointer;
  overflow: hidden;

  &::before {
    content: attr(title);
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: block;
    width: 100%;
    background-color: white;
    text-align: center;
    color: $blue;
    padding: 0.3rem 0.8rem;
    box-sizing: border-box;
    text-overflow: ellipse;
    white-space: nowrap;
  }

	&::after {
		content: '';
		font-size: 1rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		box-sizing: border-box;
    background-image: url(svg/play-gold.svg);
    background-size: 20%;
    background-position: 52% calc(50% - 0.7rem);
    background-repeat: no-repeat;
		background-color: rgba($blue, 0.6);
		color: $gold;
	}

  .video-wrapper {

    &::after {
      opacity: 0;
    }
  }
}

.video-modal-background {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($blue, 0.86);
  transition: opacity 0.6s, backdrop-filter 0.4s;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.video-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform: scale(1);

  .contain {
    position: relative;
    margin: 0 auto;
    top: 50%;
    max-width: calc(100vh - 2rem);
    transform: translateY(-50%);
  }
  .video-wrapper {
    // margin: 0 auto;
  }

  &.hidden {
    transform: scale(0);
    pointer-events: none;
  }
}

.fullscreen {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0;
  transition: opacity 0.4s;
}
.playing:hover .fullscreen {
  opacity: 1;
  cursor: pointer;
}

@supports (backdrop-filter: blur(2px)) {
  .video-modal-background {
    background-color: rgba($blue, 0.7);
    backdrop-filter: blur(8px) contrast(120%);
  }
}

@media (max-width: 600px) {
  .video-block {
    width: calc(50% - 1.4rem);
    height: 32vw;
    max-height: 420px;
  }
}